<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting</title>
</head>
<body>
    {{request.user.username}} <a href="{% url 'logout'%}">Logout</a>
    {% for question in questions %}
    <h1>{{question.title}}</h1>
    <!-- <h2>{{question.choices.all}}</h2> -->
    {% for choice in question.choices.all%}
    <img src="{{choice.choice_image.url}}" alt="">
    <a href="{% url 'selected' choice.id %}">{{choice.choice_text}}</a>
    {% endfor %}
    {% endfor %}
</body>
</html>